# rdd13r Fri Apr 15 17:24:46 EDT 2022

### Jekyll template
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### JetBrains template  # rdd13r edit
.idea_modules/
.idea
*.iml
*.ipr
*.iws
**-plugin.xml
out

### Linux template
*~
.Trash-*
.nfs*

### Diff template
*.patch
*.diff

### Vim template
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~

### macOS template
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

### Kotlin template
hs_err_pid*
*.class
*.log*
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.tgz
*.rar
log
logs

### Gradle template
.gradle
**/build/
!domain/root/src/**/build/
gradle-app.setting
!/gradle/wrapper/gradle-wrapper.jar

### Node
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid*
*.seed
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
.yarn-integrity
.env*
.cache
.parcel-cache
.next
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
build

### rdd13r
/Gemfile.lock
